body, html {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  z-index: 0;
}

hr {
  font-family: $icons-font-name;
  /* Gradient color1 - color2 - color1 */
  &.gradient-color {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  /* Gradient transparent - color - transparent */
  &.gradient-transparent {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  /* Double-color dashed line */
  &.double-color-dashed {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
  }

  /* Single-direction drop shadow */
  &.drop-shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  /* Cloud */
  &.cloud {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    &:after {
      content: "\00a0"; /* Prevent margin collapse */

    }
  }
  /* Inset, by Dan Eden */
  &.inset {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  &.flaired-edges {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    &:before {
      /* Not really supposed to work, but does */
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: black;
      border-width: 0 0 1px 0;
      border-radius: 20px;
    }
  }
  &.glyph {
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #fff;
    text-align: center;
    &:after {
      // Overwrite this content using the Unicodes _icons
      content: "\e088  \e086  \e087";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.5em;
      padding: 0 0.25em;
      background: #263238;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  opacity: .5;
  z-index: $grid-matrix-size-wide + 1;
}

.overlay-on {
  overflow: hidden;
  .overlay {
    display: block;
  }
}

ul {
  list-style: none;
  padding: 0 1em;
  &.menu li, &.tabs li {
    cursor: pointer;
    padding: 0;
  }
  &.list, &.menu {
    li.title {
      border-bottom-style: solid;
    }
    li {
      position: relative;
      padding: .5em 0;
      z-index: 0;
    }
    li.active {
      border-width: 2px;
      border-bottom-style: solid;
    }
  }

  &.list.horizontal, &.menu.horizontal, &.tabs.horizontal {
    margin: 0;
    li {
      padding: .5em;
      display: inline-block;
      float: left;
    }
    li.title {
      border: none;
      margin: 0 .5em;
    }
  }
  &.tabs {
    position: relative;
    padding: 1em 0;
    &.horizontal {
      padding: 0 1em;
      &.top {
        top: -1em;

        li {
          padding: 1.5em .5em .5em .5em;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          border-left: 1px solid rgba(0, 0, 0, .1);
          border-right: 1px solid rgba(0, 0, 0, .1);
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          &.active {
            top: 1em;
            font-weight: bold;
            box-shadow: 0 5px 5px -1px rgba(0, 0, 0, .3);
          }
        }
      }

      &.bottom {
        bottom: -1em;
        li {
          padding: .5em .5em 1.5em .5em;
          border-top: 1px solid rgba(0, 0, 0, .1);
          border-left: 1px solid rgba(0, 0, 0, .1);
          border-right: 1px solid rgba(0, 0, 0, .1);
          box-shadow: 0 -3px 5px -1px rgba(0, 0, 0, 0.3);
          &.active {
            bottom: 1em;
            font-weight: bold;
            box-shadow: 0 -5px 5px -1px rgba(0, 0, 0, .3);
          }
        }
      }
    }
    &.left {
      left: -1em;
      li {
        padding: .5em .5em .5em 1.5em;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 3px 0 5px -1px rgba(0, 0, 0, 0.3);

        &.active {
          left: 1em;
          font-weight: bold;
          box-shadow: 5px 0 5px -1px rgba(0, 0, 0, .3);
        }
      }
    }

    &.right {
      right: -1em;
      li {
        padding: .5em 1.5em .5em .5em;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
        box-shadow: -3px 0 5px -1px rgba(0, 0, 0, 0.3);
        &.active {
          right: 1em;
          font-weight: bold;
          box-shadow: -5px 0 5px -1px rgba(0, 0, 0, .3);
        }
      }
    }

    li {
      position: relative;
      z-index: 0;
    }

  }
}

table {
  width: 100%;
  th, td {
    padding: 2px;
  }
}