// MIXINS

@mixin button($color: $red, $text_color: $white) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  @include font-size(14px);
  padding: .5em 2em .55em;
  @include text-shadow(0 1px 1px $text-shadow-color);
  @include box-shadow(0 1px 2px $box-shadow-color);

  color: $text_color !important;
  font-weight: bold;
  border: solid 1px darken($color, 18%);
  background: $color;

  &:hover {
    text-decoration: none;
    color: saturate($color, 10%);
    background: darken($color, 5%);
  }

  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
    background: lighten($color, 15%);
  }
}

// Styles

button, .button {
  &.success {
    @include button(color("teal", "darken-1"), white);
  }
  &.error {
    @include button(color("red", "darken-1"), white);
  }
  &.warning {
    @include button(color("amber", "darken-1"), white);
  }
  &.info {
    @include button(color("blue", "darken-1"), white);
  }
  &.question {
    @include button(color("cyan", "darken-1"), white);
  }
}

.icon-button {
  padding: 0 !important;
  i {
    font-size: 2em;
  }
}

// Animated Buttons!

$arrow-color: color("shades", "black");

input.up-down-arrows[type=checkbox],
input.up-down-arrows[type=radio] {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 1;
  opacity: 0;
  & ~ i {
    position: absolute;
    width: 9px;
    height: 12px;
    @include transform(translate(100%, 50%));

    &:before, &:after {
      content: "";
      @include transition(all 0.25s ease-in-out);
      position: absolute;
      background-color: $arrow-color;
      width: 3px;
      height: 9px;
    }
    &:before {
      @include transform(translate(2px, 0) rotate(45deg));

    }

    &:after {
      @include transform(translate(-2px, 0) rotate(-45deg));
    }

  }

  &:checked {
    & ~ i {
      &:before {
        @include transform(translate(-2px, 0) rotate(45deg));
      }

      &:after {
        @include transform(translate(2px, 0) rotate(-45deg));
      }

    }
  }
}