// Mixins!

@mixin collapse-color-theme($color_name, $color_type, $color_value) {
  @if $color_type == "base" {
    .collapse.#{$color_name} section label,
    .collapse section label.#{$color_name} {
      color: darken($color_value, 30%);
      background-color: $color_value;
    }
    .collapse.#{$color_name} section label:hover,
    .collapse section label.#{$color_name}:hover {
      background-color: rgba($color_value, .3);
    }
    .collapse.#{$color_name} section label:active,
    .collapse section label.#{$color_name}:active {
      background-color: rgba($color_value, .5);
      @include box-shadow(inset 0 0 10px 0 $box-shadow-color)
    }
    .collapse.#{$color_name} section input[type=checkbox] + label:hover,
    .collapse.#{$color_name} section input[type=radio] + label:hover,
    .collapse section input[type=checkbox] + label.#{$color_name}:hover,
    .collapse section input[type=radio] + label.#{$color_name}:hover {
      color: darken($color_value, 30%);
      background-color: rgba($color_value, .3);
      @include text-shadow(0 1px 1px $text-shadow-color);
    }
    .collapse.#{$color_name} section input[type=checkbox] ~ i,
    .collapse.#{$color_name} section input[type=radio] ~ i,
    .collapse section input[type=checkbox] + label.#{$color_name} ~ i,
    .collapse section input[type=radio] + label.#{$color_name} ~ i {
      &:before, &:after {
        background-color: darken($color_value, 30%);
      }
    }
  } @else {
    .collapse.#{$color_name}.#{$color_type} section label,
    .collapse section label.#{$color_name}.#{$color_type} {
      color: darken($color_value, 30%);
      background-color: $color_value;
    }
    .collapse.#{$color_name}.#{$color_type} section label:hover,
    .collapse section label.#{$color_name}.#{$color_type}:hover {
      background-color: rgba($color_value, .3);
    }
    .collapse.#{$color_name}.#{$color_type} section label:active,
    .collapse section label.#{$color_name}.#{$color_type}:active {
      background-color: rgba($color_value, .5);
      @include box-shadow(inset 0 0 10px 0 $box-shadow-color)
    }
    .collapse.#{$color_name}.#{$color_type} section input[type=checkbox] + label:hover,
    .collapse.#{$color_name}.#{$color_type} section input[type=radio] + label:hover,
    .collapse section input[type=checkbox] + label.#{$color_name}.#{$color_type}:hover,
    .collapse section input[type=radio] + label.#{$color_name}.#{$color_type}:hover {
      color: darken($color_value, 30%);
      background-color: rgba($color_value, .3);
      @include text-shadow(0 1px 1px $text-shadow-color);
    }
    .collapse.#{$color_name}.#{$color_type} section input[type=checkbox] ~ i,
    .collapse.#{$color_name}.#{$color_type} section input[type=radio] ~ i,
    .collapse section input[type=checkbox] + label.#{$color_name}.#{$color_type} ~ i,
    .collapse section input[type=radio] + label.#{$color_name}.#{$color_type} ~ i {
      &:before, &:after {
        background-color: darken($color_value, 30%);
      }
    }
  }
}

// Styles!

.collapse {
  width: 400px;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: transparent !important;
  section {
    position: relative;
    @include box-shadow(0 0 0 1px $box-shadow-color);
    label {
      padding: 5px 20px;
      position: relative;
      display: block;
      cursor: pointer;
      @include text-shadow(1px 1px 1px rgba(255, 255, 255, 0.8));
      line-height: 33px;
    }
    input[type=checkbox], input[type=radio] {
      @extend .up-down-arrows;
      & ~ i {
        top: 10px;
        right: 22px;
      }
      &:checked ~ article {
        overflow: auto;
        @include transition(height 0.5s ease-in-out, box-shadow 0.1s linear);
        @include box-shadow(0 0 0 1px $box-shadow-color);
        &.small {
          height: 140px;
        }
        &.medium {
          height: 180px;
        }
        &.large {
          height: 230px;
        }
      }
    }

    article {
      background: rgba(255, 255, 255, 0.5);
      overflow: hidden;
      height: 0;
      position: relative;
      z-index: 10;
      @include transition(height 0.3s ease-in-out, box-shadow 0.6s linear);
      p {
        padding: 1em;
      }
    }
  }
}