// Mixins
@mixin color-theme($color_name, $color_type, $color_value) {
  @if $color_type == "base" {
    .#{$color_name} {
      background-color: $color_value;
    }
    .#{$color_name}-text {
      color: $color_value;
    }
  } @else {
    .#{$color_name}.#{$color_type} {
      background-color: $color_value;
    }
    .#{$color_name}-text.text-#{$color_type} {
      color: $color_value;
    }
  }

}

// Styles

@each $color_name, $color in $colors {
  @if (isColorEnabled($color_name)) {
    @each $color_type, $color_value in $color {
      @include color-theme($color_name, $color_type, $color_value);
      @include tab-color-theme($color_name, $color_type, $color_value);
      @include collapse-color-theme($color_name, $color_type, $color_value);
      @include list-color-theme($color_name, $color_type, $color_value);
      @include menu-color-theme($color_name, $color_type, $color_value);
      @include table-color-theme($color_name, $color_type, $color_value);
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  @include color-theme($color, "base", $color_value);
  @include tab-color-theme($color, "base", $color_value);
  @include list-color-theme($color, "base", $color_value);
  @include menu-color-theme($color, "base", $color_value);
  @include table-color-theme($color, "base", $color_value);
}



