// Mixins

@mixin dropdown-color-theme($color_name, $color_type, $color_value) {
  @if $color_type == "base" {
    ul.dropdown.#{$color_name}-text li, ul.dropdown li.#{$color_name}-text {
      border-bottom: 1px dashed rgba($color_value, .3);
    }
    ul.dropdown li.#{$color_name}:not(.title):hover {
      background: rgba($color_value, .3);
    }

    ul.dropdown.#{$color_name}-text li:hover {
      color: saturate($color_value, 10%);
      background: rgba($color_value, .3);
    }

    ul.dropdown.#{$color_name}-text li:active {
      position: relative;
      top: 1px;
      color: saturate($color_value, 15%);
      background: rgba($color_value, .5);
      @include box-shadow(inset 0 0 10px 0 $box-shadow-color)
    }
  } @else {
    ul.dropdown.#{$color_name}-text.text-#{$color_type} li,
    ul.dropdown li.#{$color_name}-text.text-#{$color_type} {
      border-bottom: 1px dashed rgba($color_value, .3);
    }

    ul.dropdown.#{$color_name}-text li:hover {
      color: saturate($color_value, 10%);
      background: rgba($color_value, .3);
    }

    ul.dropdown.#{$color_name}-text li:active {
      position: relative;
      top: 1px;
      color: saturate($color_value, 15%);
      background: rgba($color_value, .5);
      @include box-shadow(inset 0 0 10px 0 $box-shadow-color)
    }
  }

}


// Styles

ul.dropdown {
  z-index: $z-index-level-2;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  @include box-shadow(0 0 5px $box-shadow-color);

  li {
    z-index: $z-index-level-2;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    @include transition(all 0.2s);
    &:hover {
      background: #555;
      color: #fff;
      ul {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

    ul {
      padding: 0;
      position: absolute;
      top: 48px;
      left: 0;
      width: 150px;
      @include box-shadow(none);
      display: none;
      opacity: 0;
      visibility: hidden;
      @include transition(opacity 0.2s);
      li {
        background: #555;
        display: block;
        color: #fff;
        text-shadow: 0 -1px 0 #000;
        &:hover {
          background: #666;
        }
      }
    }

  }
}