// Mixins

@mixin dropdown-color-theme($color_name, $color_type, $color_value) {
  ul.dropdown {
    @if $color_type == "base" {
      &.#{$color_name} > li,
      &.#{$color_name} > li a,
      &.#{$color_name} > li > ul > li a {
        color: darken($color_value, 20%);
        background-color: $color_value;
      }
      > li.#{$color_name},
      > li.#{$color_name} a,
      > li > ul > li.#{$color_name} a {
        color: darken($color_value, 20%) !important;
        background-color: $color_value !important;;
      }
      &.#{$color_name} > li a,
      &.#{$color_name} > li > ul > li a {
        &:not(.title):hover {
          color: $color_value;
          background-color: darken($color_value, 20%);
        }
        &:not(.title):active {
          color: darken($color_value, 20%);
          background-color: lighten($color_value, 20%);
          @include box-shadow(inset 0 0 10px 0 $box-shadow-color)
        }
      }
      > li.#{$color_name} a,
      > li > ul > li.#{$color_name} a {
        &:not(.title):hover {
          color: $color_value !important;
          background-color: darken($color_value, 20%) !important;
        }
        &:not(.title):active {
          color: darken($color_value, 20%) !important;
          background-color: lighten($color_value, 20%) !important;
          @include box-shadow(inset 0 0 10px 0 $box-shadow-color !important)
        }
      }
      &.#{$color_name}-text > li,
      &.#{$color_name}-text > li a,
      &.#{$color_name}-text > li > ul > li a {
        color: $color_value;
      }
      > li.#{$color_name}-text,
      > li.#{$color_name}-text a,
      > li > ul > li.#{$color_name}-text a {
        color: $color_value !important;
      }
      &.#{$color_name}-text > li a,
      &.#{$color_name}-text > li > ul > li a {
        &:not(.title):hover {
          color: darken($color_value, 20%);
        }
        &:not(.title):active {
          color: $color_value;
        }
      }
      > li.#{$color_name}-text a,
      > li > ul > li.#{$color_name}-text a {
        &:not(.title):hover {
          color: darken($color_value, 20%) !important;
        }
        &:not(.title):active {
          color: $color_value !important;
        }
      }
    } @else {
      &.#{$color_name}.#{$color_type} > li,
      &.#{$color_name}.#{$color_type} > li a,
      &.#{$color_name}.#{$color_type} > li > ul > li a {
        color: darken($color_value, 20%);
        background-color: $color_value;
      }
      > li.#{$color_name}.#{$color_type},
      > li.#{$color_name}.#{$color_type} a,
      > li > ul > li.#{$color_name}.#{$color_type} a {
        color: darken($color_value, 20%) !important;
        background-color: $color_value !important;;
      }
      &.#{$color_name}.#{$color_type} > li a,
      &.#{$color_name}.#{$color_type} > li > ul > li a {
        &:not(.title):hover {
          color: $color_value;
          background-color: darken($color_value, 20%);
        }
        &:not(.title):active {
          color: darken($color_value, 20%);
          background-color: lighten($color_value, 20%);
          @include box-shadow(inset 0 0 10px 0 $box-shadow-color)
        }
      }
      > li.#{$color_name}.#{$color_type} a,
      > li > ul > li.#{$color_name}.#{$color_type} a {
        &:not(.title):hover {
          color: $color_value !important;
          background-color: darken($color_value, 20%) !important;
        }
        &:not(.title):active {
          color: darken($color_value, 20%) !important;
          background-color: lighten($color_value, 20%) !important;
          @include box-shadow(inset 0 0 10px 0 $box-shadow-color !important);
        }
      }
      &.#{$color_name}-text.text-#{$color_type} > li,
      &.#{$color_name}-text.text-#{$color_type} > li a,
      &.#{$color_name}-text.text-#{$color_type} > li > ul > li a {
        color: $color_value;
      }
      > li.#{$color_name}-text.text-#{$color_type},
      > li.#{$color_name}-text.text-#{$color_type} a,
      > li > ul > li.#{$color_name}-text.text-#{$color_type} a {
        color: $color_value !important;
      }
      &.#{$color_name}-text.text-#{$color_type} > li a,
      &.#{$color_name}-text.text-#{$color_type} > li > ul > li a {
        &:not(.title):hover {
          color: darken($color_value, 20%);
        }
        &:not(.title):active {
          color: $color_value;
        }
      }
      > li.#{$color_name}-text.text-#{$color_type} a,
      > li > ul > li.#{$color_name}-text.text-#{$color_type} a {
        &:not(.title):hover {
          color: darken($color_value, 20%) !important;
        }
        &:not(.title):active {
          color: $color_value !important;
        }
      }
    }
  }

}

// Styles

ul.dropdown {
  z-index: $z-index-level-2;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $x-small;
  li {
    z-index: $z-index-level-2;
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    float: left;
    a {
      display: inline-block;
      padding: $x-small;
    }
    @include transition(all 0.2s);
    &:hover {
      ul {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

    ul {
      padding: 0;
      position: absolute;
      top: 3em;
      left: 0;
      @include box-shadow(none);
      display: none;
      opacity: 0;
      visibility: hidden;
      @include transition(opacity 0.2s);
      li {
        clear: both;
        display: block;
        &, a {
          width: 100%;
        }
      }
    }

  }
  &.block-right {
    ul {
      left: auto;
      right: 0;
    }
  }
}