@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700italic,600,700,600italic);

$xx-large: 2.2em;
$x-large: 1.9em;
$large: 1.7em;
$medium: 1.5em;
$small: 1.2em;
$x-small: 1.1em;
$xx-small: 1em;

* {
  font-family: "Roboto Slab", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, th, ul.list li.title, ul.menu li.title {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: $xx-large;
  font-weight: 600;
}

h2 {
  font-size: $x-large;
}

h3 {
  font-size: $large;
  font-weight: 600;
}

h4 {
  font-size: $medium;
}

h5 {
  font-size: $small;
}

h6 {
  font-size: $x-small;
}

p, td, th {
  font-size: $small;
}

blockquote {
  font-size: $medium;
}

pre {
  font-size: $x-small;
}

label {
  font-size: $xx-small;
}
