// Based on this article: http://callmenick.com/post/various-css-input-text-styles

/* form elements */
label {
  display: block;
}

input[type="text"], input[type="radio"], input[type="checkbox"] {
  display: block;
  color: color("grey", "darken-4");
  margin: 0;
  width: auto;
  @include appearance(none);
  @include box-shadow(none);
  @include border-radius(0);
  &:focus {
    outline: none;
  }
}

form, .form {
  /* ============================================================
    GLOW
  ============================================================ */
  &.glow {
    input[type="text"] {
      padding: 10px;
      border: solid 1px gainsboro;
      @include transition(box-shadow 0.3s, border 0.3s);
      &:focus, &.focus {
        border: solid 1px #707070;
        @include box-shadow(0 0 5px 1px #969696);
      }
    }
  }

  /* ============================================================
    Thick Border
  ============================================================ */
  &.thick-border {
    input[type="text"] {
      padding: 10px;
      border: solid 5px #c9c9c9;
      @include transition(border 0.3s);
      &:focus, &.focus {
        border: solid 5px #969696;
      }
    }
  }

  /* ============================================================
    Double Border
  ============================================================ */
  &.double-border {
    input[type="text"] {
      padding: 10px;
      border: solid 5px #c9c9c9;
      @include box-shadow(inset 0 0 0 1px #707070);
      @include transition(box-shadow 0.3s, border 0.3s);
      &:focus, &.focus {
        border: solid 5px #969696;
      }
    }
  }

  /* ============================================================
    Underline
  ============================================================ */
  &.underline {
    input[type="text"] {
      padding: 10px;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      @include transition(border 0.3s);
      &:focus, &.focus {
        border-bottom: solid 2px #969696;
      }
    }
  }

  /* ============================================================
    Inset
  ============================================================ */
  &.inset {
    input[type="text"] {
      padding: 10px;
      border: solid 1px #fff;
      @include box-shadow(inset 1px 1px 2px 0 #707070);
      @include transition(box-shadow 0.3s);
      &:focus, &.focus {
        @include box-shadow(inset 1px 1px 2px 0 #c9c9c9);
      }
    }

  }

  input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    font-size: 1.5em;
    &.dark {
      color: white;
    }
  }
  input[type="radio"] {
    &:checked:before {
      content: icon("media-record");
    }
    &:before {
      content: icon("media-record-outline");
      @include icon();
    }
  }
  input[type="checkbox"] {
    &:checked:before {
      content: icon("input-checked");
    }
    &:before {
      content: icon("media-stop-outline");
      @include icon();
    }
  }
}
