// Mixins

@mixin create-icon($class, $value) {
  i.#{$class}:before,
  .icon.#{$class}:before {
    content: $value !important;
  }
}

// Styles

/* @FONT-FACE loads font into browser */
@font-face {
  font-family: $icons-font-name;
  src: url($fonts-path + $icons-file-name + '.eot') format('eot'),
  url($fonts-path + $icons-file-name + '.woff') format('woff'),
  url($fonts-path + $icons-file-name + '.ttf') format('truetype'),
  url($fonts-path + $icons-file-name + '.svg#' + $icons-file-name) format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  margin-right: 1em;
  .horizontal & {
    margin-right: .5em;
  }
  &.suffix {
    margin-left: 1em;
    .horizontal & {
      margin-left: .5em;
    }
  }
}

i:before,
.icon:before {
  @include icon();
}

@each $class, $value in $icons {
  @include create-icon($class, $value);
  @include create-list-icon($class, $value);
}

@function icon($name) {
  @if map-has-key($icons, $name) {
    @return map-get($icons, $name);
  }
  @warn "Unknown `#{$name}` in $icon.";
  @return null;
}
