// Mixins

@mixin list-color-theme($color_name, $color_type, $color_value) {
  @if $color_type == "base" {
    ul.list.#{$color_name}-text li, ul.list li.#{$color_name}-text {
      border-bottom: 1px dashed rgba($color_value, .3);
    }
  } @else {
    ul.list.#{$color_name}-text.text-#{$color_type} li,
    ul.list li.#{$color_name}-text.text-#{$color_type} {
      border-bottom: 1px dashed rgba($color_value, .3);
    }
  }

}

@mixin create-list-icon($class, $value) {
  ul.list.#{$class} li:not(.title):before {
    content: $value !important;
  }
}

// Styles

ul.list {
  li {
    &:not(.title):before {
      margin-right: 1em;
      @include icon();
    }
    &.title {
      border-bottom-style: solid;
    }
    position: relative;
    padding: .5em 0;
    z-index: 0;
    &.active {
      border-width: 2px;
      border-bottom-style: solid;
    }
  }

  &.horizontal {
    margin: 0;
    li {
      &:before {
        margin-right: .5em;
      }
      padding: .5em;
      display: inline-block;
      float: left;
      &.title {
        border: none;
        margin: 0 .5em;
      }
    }
  }
}