// Mixins

@mixin table-color-theme($color_name, $color_type, $color_value) {
  @if $color_type == "base" {
    .table-#{$color_name} {
      thead {
        tr {
          background-color: $color_value;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: rgba($color_value, .3);
        }
        tr:hover {
          background-color: rgba($color_value, .5);
        }
      }

    }
  } @else {
    .table-#{$color_name}.table-#{$color_type} {
      thead {
        tr {
          background-color: $color_value;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: rgba($color_value, .3);
        }
        tr:hover {
          background-color: rgba($color_value, .5);
        }
      }

    }
  }

}

// Styles

table {
  width: 100%;
  th, td {
    padding: 2px;
  }
}