// Images
$images-path: '../images/' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

// Fonts
$fonts-path: 'fonts/' !default;

// Awesome icons from: http://www.typicons.com/
$icons-font-name: 'typicons';
$icons-file-name: 'typicons';

// Grid
$grid-matrix-size-base: 12 !default;
$grid-matrix-size-wide: 24 !default;
$grid-matrix-base-unit: 100% / $grid-matrix-size-base !default;
$grid-matrix-wide-unit: 100% / $grid-matrix-size-wide !default;

$box-shadow-color: rgba(0, 0, 0, .3);