.alive, .container, .overlay, ul.menu li, button, .button {
  @include transition(all 300ms ease-in-out);
}

ul.menu li, ul.tabs li, button, .button {
  @include transition(all 150ms ease-in-out);
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;

  }
}
